#define UNICODE
#define _UNICODE
#include "windows.h"

LANGUAGE 9, 1
#pragma code_page(1252)

IDI_NOTIFICATIONICON ICON "${${PROJECT_NAME}_ICON_PATH}"

1 VERSIONINFO
FILEVERSION     ${${PROJECT_NAME}_EXE_VERSION}
PRODUCTVERSION  ${${PROJECT_NAME}_EXE_VERSION}
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "${${PROJECT_NAME}_COMPANY_NAME_LABEL}"
            VALUE "FileDescription", "Update Checker Application"
            VALUE "FileVersion", "${${PROJECT_NAME}_FILE_VERSION}"
            VALUE "InternalName", "checker"
            VALUE "LegalCopyright", "${${PROJECT_NAME}_COMPANY_NAME_LABEL}"
            VALUE "OriginalFilename", "checker.exe"
            VALUE "ProductName", "Update Checker Application"
            VALUE "ProductVersion", "${${PROJECT_NAME}_PRODUCT_VERSION}"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04E4
    END
END
// manifest
1 RT_MANIFEST "${${PROJECT_NAME}_CHECKER_MANIFEST_PATH}"
