#include "notifier.hpp"

#define UNICODE
#define _UNICODE
#include "windows.h"

LANGUAGE 9, 1
#pragma code_page(1252)

IDI_NOTIFICATIONICON ICON "${${PROJECT_NAME}_ICON_PATH}"

IDC_CONTEXTMENU MENU
BEGIN
    POPUP ""
    BEGIN
    MENUITEM "${${PROJECT_NAME}_DOWNLOAD_LABEL}", IDM_DOWNLOAD
    MENUITEM "${${PROJECT_NAME}_ABOUT_LABEL}", IDM_ABOUT
    MENUITEM SEPARATOR
    MENUITEM "${${PROJECT_NAME}_CANCEL_LABEL}", IDM_CANCEL
    END
END

STRINGTABLE
BEGIN
    IDS_TOOLTIP "${${PROJECT_NAME}_TOOLTIP_LABEL}"
    IDS_BALLOON_TITLE "${${PROJECT_NAME}_BALLOON_TITLE_LABEL}"
    IDS_ABOUT_TITLE "${${PROJECT_NAME}_ABOUT_TITLE_LABEL}"
    IDS_UPDATE_TITLE "${${PROJECT_NAME}_UPDATE_TITLE_LABEL}"
    IDS_BROWSER_URL "${${PROJECT_NAME}_BROWSER_URL}"
END
