#include "notifier.hpp"

#define UNICODE
#define _UNICODE
#include "windows.h"

LANGUAGE 9, 1
#pragma code_page(1252)

IDI_NOTIFICATIONICON ICON "../../../resources/installer/instres/icon.ico"

IDC_CONTEXTMENU MENU
BEGIN
    POPUP ""
	BEGIN
	MENUITEM "Download Update", IDM_DOWNLOAD
	MENUITEM "About", IDM_ABOUT
	MENUITEM SEPARATOR
    MENUITEM "Cancel", IDM_CANCEL
	// MENUITEM SEPARATOR
    // MENUITEM "Disable Permanently", IDM_DISABLE
	END
END

