#include "notifier.hpp"

#define UNICODE
#define _UNICODE
#include "windows.h"

LANGUAGE 9, 1
#pragma code_page(1252)

IDI_NOTIFICATIONICON ICON "../../../resources/installer/instres/icon.ico"

IDC_CONTEXTMENU MENU
BEGIN
    POPUP ""
	BEGIN
	MENUITEM "Show Flyout", IDM_FLYOUT
    MENUITEM "Options", IDM_OPTIONS
	MENUITEM SEPARATOR
	MENUITEM "E&xit", IDM_EXIT
	END
END

STRINGTABLE
BEGIN
   IDS_APP_TITLE       "NotificationIcon"
   IDS_TOOLTIP         "Printer icon"

   IDS_LOWINK_TITLE    "Low Ink"
   IDS_LOWINK_TEXT     "The printer is low on ink and print quality m."

   IDS_NOINK_TITLE     "No Ink"
   IDS_NOINK_TEXT      "The printer is out of ink and unable to print."

   IDS_PRINTJOB_TITLE  "Print job"
   IDS_PRINTJOB_TEXT   "Your job has been sent to the printer."

END

